
@mixin buttons (){
 border: none;
 padding: 5px 10px;
 border-radius: 5px;
 &:hover{
    background-color: transparent;
    cursor: pointer;
 }
//  background-color: $back-color;
//  color: $color-font;
}